/******************** Styling for navigation section ********************/
/* styling for all elements*/
*{
	margin: 0; /* space around elements */
	padding: 0; /* space around an element's content */
	outline: none; /* remove any line aroud an element */
	box-sizing: border-box; /* incorporate padding/border in elements total width/height */
	font-family: 'Montserrat', sans-serif; /* font style for text */
}
/* styling for body element */
body{
	background: #f2f2f2;
}
/* stying for nav element */
nav{
	background: #1d3152;
	display: flex; /* sets elements to flex in layout */
	flex-wrap: wrap; /* make flexible items wrap */
	align-items: center;
	justify-content: space-between; /* aligns with space between items */
	height: 70px;
	padding: 0 100px;
}
/* styling for the site logo */
nav .siteLogo{
	color: #f8f8f8;
	font-size: 30px;
	font-weight: 600; /* thickness of characters */
	letter-spacing:-1px; /* spacing between characters */
}
/* styling for navigation menu items */
nav .navMenuItems{
	display: flex;
	flex: 1;
	padding: 0 0 0 40px;
}
/* list items */
nav .navMenuItems li{
	list-style: none; /* remove bullets from items */
	padding: 0 15px;
}
/* links in list items */
nav .navMenuItems li a{
	color: #ffffff;
	font-size: 20px;
	font-weight: 500;
	text-decoration: none; /* remove underlining */
}
nav .navMenuItems li a:hover{ /* link when user mouse is over it */
	color: #d4540f;
}
nav .navMenuItems li a:active{ /* link the moment it is clicked */
	color: #fff203;
}
nav .navMenuItems li a:visited{ /* link when user has visited it */
}
/* styling for icons (menu, search, cancel) */
nav .menuIcon, nav .searchIcon, nav .cancelIcon{
	width: 40px;
	text-align: center;
	margin: 0 50px;
	font-size: 18px;
	color: #f8f8f8;
	cursor: pointer;
	display: none;
}
nav .menuIcon span, nav .searchIcon, nav .cancelIcon{
  display: none;
}
/* styling for form, search bar section */
nav form{
	display: flex;
	height: 40px;
	padding: 2px;
	background: #162338;
	min-width: 18%!important; /* defined in percentage of the containing block */
	border-radius: 2px;
	border: 1px solid rgba(155, 155, 155, 0.2);
}
/* styling of input data in search bar */
nav form .searchData{
	width: 100%;
	height: 100%;
	padding: 0 10px;
	color: #f8f8f8;
	font-size: 18px;
	border: none;
	font-weight: 500;
	background: none;
}
/* stying for a button */
nav form button{
	padding: 0 15px;
	color: #f8f8f8;
	font-size: 17px;
	background: #e66300;
	border: none;
	border-radius: 2px;
	cursor: pointer;
}
nav form button:hover{
	background: #d4540f;
}
/* apply changes based on the max-width of the display area */
@media (max-width: 1245px){}
@media (max-width: 1140px){}
@media (max-width: 980px){}
@media (max-width: 350px){}

/******************** Styling for carousels ********************/